/* @import  url('https://www.1001fonts.com/cotton-cloud-font.html')

@font-face {
  font-family: 'Cotton Cloud';
  src: url('fonts/CottonCloud.woff2') format('woff2'),
       url('fonts/CottonCloud.woff') format('woff'),
       url('fonts/CottonCloud.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */


.first-color { 
	background: #b9f9ff; 
}
	
.second-color { 
	background: #dafdff; 
}

.third-color { 
	background: #f7e590; 
}

.fourth-color { 
	background: #f5cd6d;  
 
}

*{
    border: 1px black solid;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#doll-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
#doll-holder{
    display: flex;
    width:  60rem;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #e0f9fb;
    border: 3px black solid;
    gap: 1rem;
}

#doll{
    display: grid;

    width: 500px;
    height: 500px;
    padding: 1rem;
    align-items: center;
    border: 3px black solid;
}

#top, #bottom {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 215px;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 3px black solid;
}

#left-side, #right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#hat, #shoes {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 215px;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 3px black solid;
}

body { 
	background: #dafdff;
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: 'Cotton Cloud', sans-serif;
}

#doll-section {
    border: 1px green solid;
}


#info-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-box {
    width: 300px;
    /* height: 140px; */
    padding: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
}

#realtime-temp {
    width: 100px;
}

#drop-down-menu {
    width: 300px;
}



/* https://www.myfonts.com/collections/cloudy-font-happy-type-club?queryId=65b9d1bcb41d4d44243fd81b264434df&index=universal_search_data&objectIDs=MTAzOTI5N180NTc2MjBfMTc1MDQyMTE0OA

https://www.fontspace.com/category/cloudy */
