@font-face {
  font-family: "cloud-font";
  src: url('../ada-project-docs/assets/fonts/cloud-font.woff') format("woff");
}
@font-face {
  font-family: "clouds-font";
  src: url('../ada-project-docs/assets/fonts/clouds-font.woff2') format("woff2");
}
@font-face {
  font-family: "cotton-cloud";
  src: url('../ada-project-docs/assets/fonts/cotton-cloud.woff2') format("woff2");
}


.first-color { 
	background: #b9f9ff; 
}
	
.second-color { 
	background: #dafdff; 
}

.third-color { 
	background: #f7e590; 
}

.fourth-color { 
	background: #f5cd6d;  
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: solid 3px black; */
}

body { 
	background: #dafdff;
    display: flex;
    flex-direction: column;
}

/* Top Section */

#doll-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
#doll-holder{
    display: flex;
    width:  43rem;
    /* height: auto; */
    justify-content: center;
    /* align-items: center; */
    background-color: #ddedee;
    /* border: 3px black solid; */
    gap: 2rem;
}

#doll-image{
    width: 600px;
    height: auto;
    display: flex;
}

#doll{
    display: grid;
    padding: 1rem;
    /* border: 3px black solid; */
}

#top, #bottom {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 215px;
    padding: 1rem;
    margin: 0.5rem 0;
    /* border: 3px black solid; */
}

#left-side, #right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#hat, #shoes {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 215px;
    padding: 1rem;
    margin: 0.5rem 0;
    /* border: 3px black solid; */
}

/* Bottom Section */

#info-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;

}

/* Every box (Temp, Sky, City) */
.info-box {
    background-color: #d9d9d9;
    padding: 2rem;
    border-radius: 6px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box label {
    font-size: 1.2rem;
}

#slider-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

#temp {
    width: 150px;
}

#realtime-temp {
    padding: 0.6rem 1.2rem;
    background: black;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#temp-label {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

#sky-drop-down-menu {
    padding: 0.6rem;
    width: 80%;
}

#sky-label {
    padding-bottom: 1.2rem;
}

#city-container .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

#city {
    padding: 0.6rem;
    width: 80%;
}

#reset-button {
    background: black;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* button {
    border-radius: 15%;
    background-color: #ffffff;
} */

h1{
    /* font-family: 'cloud-font', 'Verdana'; */
    font-family: 'cotton-cloud', verdana;
    font-size: 4rem;
    color: #11aac9;
    text-align: center;
    margin: 0;
}

span {
    font-family: 'cotton-cloud', verdana;
    color: #e6a714;
}

label {
    font-family: 'cotton-cloud', verdana;
}

.hat, .top, .bottom, .shoes {
    position: absolute;
    display: none;  /* Hidden by default */
    z-index: 10;
    cursor: grab;
}
#sunny-hat:active, #winter-hat:active {
    cursor: grabbing;
}

#sunny-hat {
    width: 400px;
    height: 300px;
}

#sunny-top, #sunny-bottom {
    width: 160px;
    height: 150px;
}

#winter-hat {
    width: 450px;
    height: 300px;
}

#winter-top {
    width: 260px;
    height: 260px;
}

#rain-hat {
    width: 300px;
    height: 260px;
}

#cloudy-top {
    width: 370px;
    height: 160px;
}

#cloudy-bottom {
    width: 350px;
    height: 200px;
}

.winter-boots {
    width: 110px;
    height: 110px;
}

.rain-boots {
    width: 130px;
    height: 130px;
}

.sandls {
    width: 90px;
    height: 130px;
}

.sneakers {
    width: 140px;
    height: 140px;
}

.flipped {
    transform: scaleX(-1);
}
